* {
    box-sizing: border-box;
}

body {
    font-family: Courier New, Courier, monospace;
    margin: 0px;
}

header {
    background: #222;
    color: white;
    padding: 10px 0px;
    user-select: none;
}

header input[type='radio'] {
    display: none;
}

header label {
    margin: 1px 10px;
    color: #555;
}

header :checked + label {
    color: #fff;
}

#resize-p {
    background: #222;
    color: white;
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 5px;
    max-height: 0;
    transition: max-height 0.2s ease-in;
}

#resize {
    display: inline-block;
}

#resize:hover > #resize-p {
    max-height: 90px;
    transition: max-height 0.2s ease-out;
}

#resize-p > div {
    margin: 6px 12px;
}
#resize-p input[type='number'], #resize-p button {
    width: 50px;
}

#palette {
    border: 1px solid gray;
}

canvas {
    margin: 10px 0px;
    border: 1px solid black
}

canvas:focus {
    border: 1px solid #07c
}